* {
    margin: 0;
    cursor: default;
}
body {
    font-family: 'Fugaz One', cursive;
    background-image: url("./background.jpg");
    background-size: 100vw 300vh;
    background-position: top;
    -webkit-transition:background-position 1.2s ease;

    display: flex;
}

.fp {
    position: absolute;
    overflow: visible;
    top:0;
    height:100vh;
    left:0;
    width:100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
    transition: top 1.2s ease
}
.fp-logo {
    position: relative;
    box-sizing: border-box;
    background: url("./Logga_burgerz.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*height:20vh;*/
    width:20vw;
    height:20vw;
    z-index: 101;
    transform: translateX(-.5vw);

}

.fp-text {
    position: relative;
    width:600px;
    z-index: 102;
    text-align: center;
    font-size: 1.3em;
    letter-spacing: .02em;
    cursor: pointer;
}
.fp-btn {
    position: relative;
    width:20vw;
    height:5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:#FFE87E
    transition: transform ease .3s;
    z-index: 103;
    cursor: pointer;
}
.fp-btn h2 {
    color:#FFE87E

}
.fp-btn:hover {
    transform: scale(.95);
    transition: transform ease .3s;
}
.fp-btn:hover .fp-btn h2 {
    transform: scale(.95);
    transition: transform ease .3s;
}
.burger {
    display: none;
}
canvas {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
}

.outer-border {
    position: absolute;
    box-sizing: border-box;
    width:40vw;
    height:80vh;
    right: -40vw;
    bottom:10vh;
    border: black solid;
    border-width: 0 0 0 5px;
    z-index: 100;
    display: flex;
    overflow: hidden;
    /*flex-direction: column;*/
    justify-content: space-between;
    align-items: space-between;

    transition: right .9s;
}
.right-top-box {

    width: 70%;
    margin: 0 15% 5% 15%;
}
.right-top-box h2 {
    margin: 0;
}

.ingredients{
    width: 70%;
    margin: 0 15% 0 15%;
    height:40vh;
    overflow-y: scroll;
}
.ingredient{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: 2px 0 2px 0;
    background-color: rgba(255,255,255,0);
    transition: background-color .3s ease
}
.ingredient h4{
    cursor: pointer;
}
.ingredient:not(.order-btn){
    margin-right: 3vw;
}
.ingredient:last-child:not(.order-btn){
    margin-bottom: 20px;
}
.fade-top {
    width: calc(80% - 12px);
    margin-left: 10%;
    height:5px;
    transform: translateY(5px);
    background: linear-gradient(to bottom, rgba(254, 236, 128,1) 0%,rgba(251,251,251,0) 100%);
}
.fade-bottom {
    width: calc(80% - 12px);
    margin-left: 10%;
    margin-bottom: 5%;
    height:5px;
    transform: translateY(-5px);
    background: linear-gradient(to top, rgba(254, 236, 128,1) 0%,rgba(251,251,251,0) 100%);
}
.center {
    right: 0;
    transition: right 2s

}
.right {
    right: -40vw;
    transition: right 2s

}
.left {
    right:40vw;
    transition: right 2s

}

.first, .second, .third {
    width:40vw;
    height:80vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ingredients>.ingredient:hover {
    transition: background-color .3s ease;
    background-color: rgba(254, 184, 89, .5);
}

.ingredient-title:not(.ingredient-title:first-child){
    border-bottom: .2em solid black;
    display: inline-block;
    margin-top: 20px;

}
.ingredients::-webkit-scrollbar-track
{


	background-color: black;
}

.ingredients::-webkit-scrollbar
{
	width: 12px;

	background-color: black;
}

.ingredients::-webkit-scrollbar-thumb
{


	background-color: white;
}
.burger-menu {
    width:3em;
    height:3em;
    background-image: url("./burger-menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 250;
    top:10vh;
    left: 2vw;
    transform: scale(1);
    transition: transform .2s;
    cursor: pointer;
}
.burger-menu-text {
    height:3em;
    position: absolute;
    z-index: 251;
    top:10vh;
    left: 5em;
    display: flex;
    align-items: center;
}
.ingredients-stack {
    display: none;
    position: absolute;
    top:16vh;
    left: calc(2vw + 3em);
    min-width: 10vw;
    flex-direction: column;
    z-index: 2000
}
.burger-menu-item:last-child {
    display: none;
}
.burger-menu-item {
    background-color: rgba(255,255,255,.3);
    position: relative;
    .5vw 0 .5vw 1vw;
    z-index: 3000;
}
.burger-menu-item:hover {
    background-color: rgba(255,0,0,.6);
}

.side-order {
    width:50%;
    display: flex;
    justify-content: center;
    border: black 1px solid;
}

.side-order.on {
    background-color: rgba(254, 184, 89, .5);
}

.side-orders {
    margin:0 15% 5% 15%;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: auto;
}

.price-and-order {
    height: 5vw;
    width: 54%;
    box-sizing: border-box;
    margin: 0 21% 0 21%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.price {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    top: 13vh;
    right: 43vw;
    width: 5em;
    height: 5em;
    background-image: url("./price.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.order-btn,.payment-btn,.final-btn {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.order-btn h2,.payment-btn h2,.final-btn h2 {
    color: rgba(254, 236, 128,1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.delivery-info {
    display: flex;
    flex-direction: column;
}

.delivery-info input {
    width: 70%;
    margin: 0 15% 0 15%;
    border: none;
    background-color: transparent;
    border-bottom: black 2px solid;
    font-size: 1em;
    margin-bottom: 1em;
    outline: none;
}

.pay-on-delivery {
    width:100%;
    display: flex;
    justify-content: center;
    border: black 1px solid;
}

.pay-on-delivery.on {
    background-color: rgba(254, 184, 89, .5);
}

#final-modal {
    position: absolute;
    height:100vh;
    width:100vw;
    z-index:20000;
    background: rgba(0,0,0,.8);
    display: none;
    justify-content: center;
    align-items: center;
}

#final-modal h1 {
    color: rgba(254, 236, 128,1);
    width: 50vw;
    text-align: center;

}

.load-img {
    position: absolute;
    left:35vw;
    top:50%;
    width:30vw;
    text-align: center;


}


#backend-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.order {
    width:30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 5px solid;
    margin-left: 5vw;
    align-self: left;
    transition: margin-left 1s;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.order h3{
    width:100%;
    border-bottom: black solid 5px;
    text-align: center;
}

.order p {
    font-family: sans-serif;
    align-self: flex-start;
    margin-bottom:1em;
}
